.wrapper .inputbox{
    color: #4C4D4D;
    margin-left: 10%;
    line-height: 25px;
    margin-bottom: 20px;
    letter-spacing: 2px;
}

.wrapper .inputbox .txt{
    width: 80%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.wrapper .inputbox .note{
    border-radius: 5px;
    border: 1px solid #ccc;
    width: 80%;
    height: 360px;
}

input,textarea{
    resize: vertical;
    box-sizing: border-box;
    font-size: 1.1em;
    color: rgb(71, 71, 71);
    letter-spacing: 2px;
    font-family: Arial;
    padding: 10px;
}

.wrapper .inputbox .txt_1{
    width: 20%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 1em;
    padding: 5px;
}
