.wrapper .Content{
    width: 75%;
    margin: 30px auto;
}

.wrapper .Content .intro p{
    padding-bottom: 20px;
    letter-spacing: 2px;
    color: #4C4D4D;
    line-height: 150%;
}

.wrapper .Content .intro p a{
    color: #4C4D4D;
    text-decoration: none;
}
.wrapper .Content .intro p a:hover{
    color: deepskyblue;
    cursor: pointer;
    font-weight: bolder;
}


.wrapper .Content ul{
    display: flex;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
    list-style: none;
}

.wrapper .Content li{
    box-sizing: border-box;
    margin: 0px 0px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 15px;
    flex: 1 0 31%;
    margin: 5px;
    text-align: center;
}

.wrapper .Content .Faith p a{
    color: #4C4D4D;
    text-decoration: none;
}

.wrapper .Content .Faith p a:hover{
    color: deepskyblue;
    letter-spacing: 1px;
    font-weight: bolder;
    cursor: pointer;
}

.wrapper .Content h2{
    color:DeepSkyBlue; 
    text-align:center; 
    letter-spacing: 3px
}

.wrapper .Content .mission .threeitems h3,
.wrapper .Content .Faith .egightitem h3{
    font-style: normal;
    color: #4C4D4D;
    overflow: hidden;
}

.wrapper .Content .mission .threeitems p
.wrapper .Content .Faith .egightitem p{
    font-style: normal;
    letter-spacing: 2px;
    color: #4C4D4D;
}

.wrapper .Content .Faith .egightitem a{
    text-decoration:none; 
    color:#4C4D4D; 
    font-weight:bold;
}
.wrapper .Content .Faith .egightitem a:hover{ 
    color:deepskyblue;
    cursor: pointer;
    font-weight: lighter;
}
