.wrapper h2{
    color: DeepSkyBlue; 
    text-align: center; 
    letter-spacing: 3px;
    text-transform: uppercase;
}

.wrapper h4{
    color: #4C4D4D;
    text-align: center; 
    letter-spacing: 1.5px;
}

.wrapper ul{   
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
    padding-left: 75px;
    padding-right: 75px;
}

.wrapper li{
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 2%;
    flex: 1 0 31%;
    margin: 0.5%;
} 

.wrapper iframe{
    display:flex;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 auto;
}

.wrapper .section1 p{
    color: #4C4D4D;
    letter-spacing: 1.5px;
    line-height: 150%;
}

.wrapper .section1 a, 
.wrapper .section2 a{
    text-decoration: none;
    color: #4C4D4D;
}

.wrapper .section1 a:hover{
    color: DeepSkyBlue;
    cursor: pointer;
    font-weight: bold;
}

.wrapper .section2 a:hover{
    color: DeepSkyBlue;
    cursor: pointer;
    font-weight: lighter;
}

.wrapper .section2 p{
    text-align: center; 
    color: #4C4D4D;
}
