.wrapper h2{
    color: DeepSkyBlue; 
    text-align: center; 
    letter-spacing: 2px;
}

.wrapper h4{
    color: #4C4D4D;
    text-align: center; 
    letter-spacing: 1.5px;
}

.wrapper ul{   
    list-style: none; 
    display: flex;
    flex-wrap: wrap;
    padding-left: 75px;
    padding-right: 75px;
}
.wrapper li{
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 2%;
    flex: 1 0 31%;
    margin: 0.5%;
} 

.wrapper iframe{
    display:flex;
    border: 1px solid white;
    border-radius: 10px;
    margin: 0 auto;
}

.wrapper .section1 p{
    color: #4C4D4D;
}

.wrapper .section1 a{
    text-decoration: none;
}
.wrapper .section2 p{
    text-align: center; 
    color: #4C4D4D;
}
